body {
    background-color: #000;
    color: #00ff00;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.row .container-ed {
    width: 100%;
    margin: 10px;
    padding-top: 0;
    display: flex;
    flex-direction: row;
}


.row .container-ed .timeline {
    position: relative;
    width: 100%;
    margin: 2em;
    display: flex;
    flex-direction: row;
}

/*
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #00ff00;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: 0px;
}
*/    

.row .container-ed .timeline-item {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
@media screen and (max-width: 600px){
    .row .container-ed .timeline-item {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 90%;
    }
    .row .container-ed .timeline{
        width: 90%;
        margin: 2em;
        padding-top: 0;
        display: flex;
        flex-direction: column;
    }
}
/*
.container-ed .timeline-item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #00ff00;
    border: 4px solid #00ff00;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
    */

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #00ff00;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #00ff00;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #00ff00;
    border-width: 10px 10px 10px 0;
    border-color:#00ff00;
}

.right::after {
    left: -16px;
}

.timeline-item-content {
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    border-radius: 6px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border-color: #00ff00;
    border-width: thin;
}

.timeline-item-content:hover {
    transform: scale(1.1);
}

.timeline-item-content:hover .details {
    display: block;
}

.details {
    display: none;
    margin-top: 10px;
}
